<div class="container">
  <div class="jumbotron">
    <h1>Seja bem vindo a Equipoz Alpha</h1>
    <p>Olá nome_do_usuário, fique a vontade para utilizar as açoes e
      vantagens do painel administrativo</p>
    <p>Colocar aqui qualquer outra informação necessária para
      a aplicação</p>
    <p>
      <a class="btn btn-lg btn-primary"
      href="#" role="button">Solicitar orçamento
      &raquo;
      </a>
      <a class="btn btn-lg btn-primary"
      href="#" role="button">Outra ação
      &raquo;
      </a>
    </p>
  </div>
</div>
